@import '../abstracts/variables';

.left-content {
  min-width: 30rem;
  width: 26vw;

  height: 100vh;

  border-right: $edge-border;

  & &-header {
    padding: 1.2rem;
    height: $header-height;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__icon {
      color: $grey-dark;
      border-radius: 50%;
      width: 3.6rem;
      height: 3.6rem;

      flex: 0 0 3.6rem;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: $white-ter;
      }
    }
  }

  & .tabs.is-large {
    margin-bottom: 0;
    font-size: 1.6rem;

    height: 4rem;
  }
}
