@import '../abstracts/variables';

.search-result-list {
  background-color: white;
  border-radius: 0.5rem;
  border: 0.15rem solid $white-ter;
  box-shadow: 0.1rem 0.1rem $white-ter;
  min-width: 25rem;
}
