@import '../abstracts/variables';

.not-found {
  position: relative;
  background-color: #209cee;
  width: 100vw;
  height: 100vh;

  .not-found-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 10rem;
      line-height: 1.2;
      font-weight: bold;
    }

    p {
      font-size: 3rem;
      font-weight: 500;
      color: white;
      margin-bottom: 2rem;
    }

    button,
    button:hover {
      font-size: 1.8rem;
      font-weight: 500;
      box-shadow: 0.1rem 0.1rem white;
    }
  }
}
