@import '../abstracts/variables';

.current-conver-footer {
  width: 100%;

  border-top: $edge-border;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;

  &__toolbar {
    padding: 0.2rem 1.2rem;
    display: flex;
    gap: 0.6rem;
  }

  &__toolbar-item {
    font-size: 2rem;
    color: $grey-dark;

    width: 3.8rem;
    height: 3.8rem;

    transition: background-color 0.1s linear;
    border-radius: 0.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: $white-ter;
    }
  }

  &__input-content {
    border-top: $edge-border;
    border-bottom: $edge-border;

    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    width: 100%;

    & .message-text {
      background-color: rgb(250, 250, 250);
      border: none;
      resize: none;
      width: 100%;

      font-size: $default-font-size;

      &:focus,
      &:active {
        outline: none;
      }
    }

    & .send-message {
      height: 100%;
      font-size: 1.4rem;

      padding-left: 0.6rem;
      padding-right: 0.6rem;

      display: flex;
      justify-content: center;
      gap: 0.8rem;
    }
  }
  &__img-list-preview {
    padding: 0.5rem;
    height: 10rem;
    width: 100%;
    overflow: auto;

    & .img-to-preview {
      position: relative;
      height: 100%;
      display: inline-block;
      margin-right: 0.5rem;

      &:hover {
        cursor: pointer;
      }
      & .img {
        height: 100%;
      }

      &:hover .overlap {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .overlap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(220, 220, 220, 0.7);

        display: none;

        i {
          font-size: 2rem;
          color: rgb(255, 27, 27);
        }
      }
    }
  }
}
