@import '../abstracts/variables';

.message {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;

  padding-top: 1.5rem;

  padding-left: 1rem;

  margin-bottom: 0 !important;

  &.me {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-start;

    padding-left: 0;
    padding-right: 1rem;
  }

  & &-sender-avatar {
    width: 5rem;
    height: 5rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 50%;
    border: 0.1rem solid white;
  }

  &.me &-content {
    background-color: $color-info;
    color: rgb(255, 255, 255);
  }

  & &-content {
    background-color: rgb(245, 250, 255);
    color: $black-ter;

    max-width: 60%;

    border-radius: 0.4rem;
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;

    box-shadow: 0.1rem 0.1rem 0.1rem rgba($grey-dark, 0.2);
    display: inline-block;

    &__main {
      padding-bottom: 0.4rem;

      .images-gr {
        display: flex;
        gap: 0.8rem;
        img {
          height: 20rem;
        }
      }
    }

    &__bottom {
      font-size: 1.2rem;

      display: flex;
      justify-content: space-between;
    }
  }

  & &-footer {
  }
}

.text-message {
}
