@import '../abstracts/variables';

.no-internet-bar {
  position: absolute;

  width: 100%;
  height: 4.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #72808e;

  p {
    color: white;
  }
}
